.services .col > div {
  margin-block: 30px;
}
.service-item {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.services.section .service-item {
  display: block;
}
.service-item img {
  flex-shrink: 0;
  width: unset;
  height: 300px;
}
@media (max-width: 1000px) {
  .services img {
    display: none;
  }
}
.Co-founder {
  margin-bottom: 100px;
}
.center-text {
  text-align: center;
}
.margin-remover {
  margin: 0px !important;
}

.previous-works {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  gap: 40px 5%;
}
@media (max-width: 1000px) {
  .previous-works {
    grid-template-columns: repeat(auto-fill, 47.5%);
  }
}
@media (max-width: 500px) {
  .previous-works {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
/* Dark theme */
.dark-mode *,
.dark-mode #review p {
  color: white;
}
.dark-mode,
.dark-mode header.header-area,
.dark-mode .service-item,
.dark-mode .projects .item .down-content {
  background-color: #333 !important;
  outline: 1px solid #888;
}
.dark-mode .about-us::after,
.dark-mode .services:after,
.dark-mode .about-us .box-item,
.dark-mode .border-button a,
.dark-mode .custom-block:hover {
  background: unset !important;
}
.dark-mode .contact-us .contact-us-content {
  background: #222 !important;
  border-radius: 22px;
}
.dark-mode .contact-us .contact-us-content #contact-form  {
  border-color: #555 !important;
}
.dark-mode #contact-form input,
.dark-mode #contact-form textarea ,
.dark-mode .nav-pills .nav-link,
.dark-mode .blockquote,
.dark-mode .pricing-item-regular {
  background: #505055;
  resize: none;
}
.dark-mode #contact-form input::placeholder,
.dark-mode #contact-form textarea::placeholder,
.dark-mode .nav-pills .nav-link {
  color: #ddd;
}
.dark-mode .section-heading h4 ,
.dark-mode .header-area .main-nav .nav li a:not(.active) ,
.dark-mode .header-area .main-nav .nav li.submenu:after ,
.dark-mode .background-header .main-nav .nav li.submenu:after ,
.dark-mode .header-area .main-nav .nav li.submenu ul li a:not(.active) ,
.dark-mode,
.main-banner .left-content p ,
.dark-mode .about-us .box-item h4 a ,
.dark-mode .menu .thumb h4,
.dark-mode .the-clients .nacc .thumb .down-content .right-content span,
.dark-mode .btn_red:hover,
.dark-mode .section-heading h2,
.dark-mode .projects .item .down-content h4 {
  color: #E4E4E2 !important;
}
.dark-mode .btn_red:hover{
  background: #2a2a2a;
}
